<nz-layout>
  <div class="logo" routerLink="/techdept">
  </div>
  <ul nz-menu [nzMode]="mode?'vertical':'inline'" item-height="890px" style="background: aqua">

    <li nz-submenu *ngFor="let link of navLinks" [nzOpen]="link.isOpen" (nzOpenChange)="openChange(link.id)">
      <span title><i [class]="link.class"></i>{{link.title}}</span>
      <ul *ngFor="let links of link.second">
        <li nz-menu-item  [routerLink]="links.path">{{links.title}}</li>
      </ul>
    </li>

  </ul>
</nz-layout>
